- if orienteering.errors.any?
  .orienteering__errors.error-message-box
    %h2= "#{orienteering.errors.full_messages.count}件のエラーが発生しました。"
    %ul
      - orienteering.errors.full_messages.each do |message|
        %li= message
= form_with model: orienteering, local: true do |f|
  .orienteering-form__field
    = f.label :name, "Orienteering name", class: 'orienteering-form__label'
    = f.text_field :name, class: 'orienteering-form__input', placeholder: 'input orienteering name'
  .orienteering-form__actions
    = f.submit class: 'orienteering-form__button'
