= render "layouts/header"
.wrapper
  .orienteering-index-contents
    %h2<>Orienteering list
    .table-div
      .table-div__child
        %table
          %tr
            %th<>ID
            %th<>Orienteering
            %th<>Host
            %th<>Status
          - @orienteerings.each do |o|
            %tr
              %td= o.id
              %td.orienteering
                = link_to orienteering_path(o.id) do
                  %span= o.name
              %td= o.host.name
              - if o.opendate_at <= Time.current
                %td<>Open
              - else
                %td<>Close
    = link_to new_orienteering_path, class: "a-tag-button" do
      %button<>create orienteering
= render "layouts/footer"
