= render "layouts/header"
.wrapper
  .orienteering-index-contents
    %h2<>Orienteering list
    .table-div
      .table-div__child
        %table
          %tr
            %th<>ID
            %th<>Orienteering
            %th<>Host
          - @orienteerings.each do |o|
            %tr
              %td= o.id
              %td.orienteering
                = link_to orienteering_path(o.id) do
                  %span= o.name
              %td= o.host.name
    = link_to new_orienteering_path do
      %button<>create orienteering
= render "layouts/footer"
