= render "layouts/google_map_api"
= render "layouts/header"
= render partial: "layouts/header_orienteering", locals: { orienteering: @orienteering }
.wrapper
  .orienteering-show-contents
    %h2<>Control list
    .table-div
      .table-div__child
        %table
          %tr
            %th<>No.
            %th<>Control
            %th<>Point
            %th<>Check
          - @controls.each_with_index do |control, i|
            %tr
              %td= i+1
              %td.control
                = link_to orienteering_control_path(@orienteering.id, control.id) do
                  %span= control.name
              %td= control.point
              %td
                - if control.answers.where(user_id: current_user.id).present?
                  %span<>Done
    #map
    - if @orienteering.host_id == current_user.id
      .div-only-host
        %h2<>Host menu
        = link_to new_orienteering_control_path(@orienteering.id) do
          %button<>Create control
        = link_to result_orienteering_path(@orienteering.id) do
          %button<>Result
= render "layouts/footer"

:javascript
  let lat = parseFloat('#{@lat}');
  let lng = parseFloat('#{@lng}');

  let location_lats = JSON.parse('#{raw @array_lats}');
  let location_lngs = JSON.parse('#{raw @array_lngs}');
  let locations = [];
  let labels = [];

  for (let i=0; i<location_lats.length; i++) {
    locations.push({lat: parseFloat(location_lats[i]), lng: parseFloat(location_lngs[i])});
    labels.push(String(i+1));
  }

  let map;
  let markers;
  let labelss = '1BCDEFGHIJKLMNOPQRSTUVWXYZ';

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
    zoom: 16,
    center: { lat: lat, lng: lng }
    });

    markers = locations.map(function(location, i) {
      return new google.maps.Marker({
        position: location,
        map: map, // add
        label: labels[i]
      });
    });
  }
