= render "layouts/google_map_api"
= render "layouts/header"
= render partial: "layouts/header_orienteering", locals: { orienteering: @orienteering }
= render partial: "layouts/header_control", locals: { orienteering: @orienteering, control: @control }
.wrapper
  .control-show-contents
    .control-details
      %p= "Control name:"
      %p.indent= @control.name
      %p= "Question:"
      %p.indent= @control.question
      %p= "Choices:"
      %p.indent= @control.choice
      %p= "Point:"
      %p.indent= @control.point
    = form_with model: [@orienteering, @control, @answer], local: true do |f|
      .control-form__field
        = f.label :answer, "Answer", class: 'control-form__label'
        = f.text_field :answer, class: 'control-form__input', placeholder: 'input answer'
      .control-form__actions
        = f.submit "Submit", class: 'control-form__button'
    #map
= render "layouts/footer"

:javascript
  let lat = parseFloat('#{@control.position_lat}');
  let lng = parseFloat('#{@control.position_lng}');
  let map;
  let marker;
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
    zoom: 17,
    center: { lat: lat, lng: lng }
    });
    marker = new google.maps.Marker({position: map.getCenter(), map: map});
  }
