%script{:defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAk3yZOiqYz38KM80EH9LxlDW1mrUAuCBI&callback=initMap&libraries=&v=weekly"}
controls/show

%p= "name: #{@control.name}"
%p= "question: #{@control.question}"
%p= "point: #{@control.point}"

= form_with model: [@orienteering, @control, @answer], local: true do |f|
  .setting-group-form__field
    = f.label :answer, "Answer", class: 'setting-group-form__label'
    = f.text_field :answer, class: 'setting-group-form__input', placeholder: 'input answer'
  .setting-group-form__field
    = f.submit "Submit", class: 'setting-group-form__button'


:plain
  <style>
    #map{
      height: 400px;
    }
  </style>

%br/

#map

- lat = @control.position_y
- lng = @control.position_x

:javascript
  let lat = parseFloat('#{lat}');
  let lng = parseFloat('#{lng}');
  let map;
  let marker;
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
    zoom: 17,
    center: { lat: lat, lng: lng }
    });
    marker = new google.maps.Marker({position: map.getCenter(), map: map});
  }



