= render "layouts/google_map_api"
= render "layouts/header"
= render partial: "layouts/header_orienteering", locals: { orienteering: @orienteering }
= render partial: "layouts/header_control", locals: { orienteering: @orienteering, control: @control }
.wrapper
  .control-show-contents
    .control-details
      %p= "Control name:"
      %p.indent= @control.name
      %p= "Question:"
      %p.indent= @control.question
      %p= "Choices:"
      %p.indent.choice= @control.choice
      %p= "Point:"
      %p.indent= @control.point
    = form_with model: [@orienteering, @control, @answer], local: true do |f|
      .control-form__field
        = f.label :answer, "Answer", class: 'control-form__label'
        = f.text_field :answer, class: 'control-form__input', placeholder: 'input answer'
      .control-form__actions
        = f.submit "Submit", class: 'control-form__button'
    #map
= render "layouts/footer"

:javascript
  let lat = parseFloat('#{@control.position_lat}');
  let lng = parseFloat('#{@control.position_lng}');
  let map;
  let marker;
  let infoWindow;
  let marker_current;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 17,
      center: { lat: lat, lng: lng }
    });
    marker = new google.maps.Marker({position: map.getCenter(), map: map});

    infoWindow = new google.maps.InfoWindow;
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        let pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        marker_current = new google.maps.Marker({position: pos, map: map,
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 10
          }
        });
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }
