!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OrienteeringApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application' #add
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }
    %script{src: "https://polyfill.io/v3/polyfill.min.js?features=default"}
  %body
    = render 'layouts/notifications' #add
    = yield

